*.suo
*.cache
*.txt
*.dll
*.pdb
*.exe
*/bin/ 
*/obj/ 
*/debug/
*\bin
*\obj
*\debug
*\output
*.user
*.tmp_proj
*\node_modules
*/node_modules
Rainbow/Rainbow.AcquisitionApp/Views/ChannelViewModel.cs
*.ipch
*.tlog
*.lastbuildstate
*.log
*.pch
*.manifest
*.sdf
*.opendb
FLDBoardFW/FLDBoardSAMS70/src/cytek_fmb_board/cytek_qspi_flash/n25q.c
